/*
  Animations
*/

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes colorPickPulse {
  0%, 100% { opacity: 0.7; }
  50% { opacity: 1; }
}

@keyframes newMessage {
  from {
    background-color: var(--ui-highlight);
    border-color: var(--border-color);
  }
  to {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
